name: build_linux32

on:
    push:
        tags:
            - "v*.*.*"
    workflow_dispatch:

jobs:
    build_linux64:
        runs-on: self-hosted
        defaults:
            run:
                shell: sh
        steps:
            - uses: actions/checkout@v3
              with:
                  submodules: "recursive"
            - name: Build 64-bit
              working-directory: ${{ github.workspace }}
              run: |
                  wget https://zlib.net/zlib-1.3.1.tar.gz
                  tar xf zlib-1.3.1.tar.gz
                  cd zlib-1.3.1
                  mkdir build64 && cd build64
                  CFLAGS="-m64" ../configure --static
                  make -j$(nproc)
                  cd ../..
                  wget https://www.openssl.org/source/openssl-1.1.1w.tar.gz
                  tar xf openssl-1.1.1w.tar.gz
                  cd openssl-1.1.1w
                  ./Configure linux-generic64 no-shared no-tests no-threads --prefix=$PWD/dist64 CFLAGS="-m64" LDFLAGS="-m64"
                  make -j$(nproc)
                  make install_sw
                  cd ..
                  mkdir -p source/thirdparty/libgit2/libs/x64
                  cp openssl-1.1.1w/dist64/lib/lib*.a source/thirdparty/libgit2/libs/x64
                  cp zlib-1.3.1/build64/libz.a source/thirdparty/libgit2/libs/x64
                  git clone --branch v1.8.0 https://github.com/libgit2/libgit2.git libgit2_src
                  cd libgit2_src
                  mkdir build64 && cd build64
                  cmake .. -DBUILD_SHARED_LIBS=OFF -DBUILD_TESTS=OFF -DBUILD_CLAR=OFF -DBUILD_CLI=OFF -DCMAKE_C_FLAGS="-m64 -fPIC" -DCMAKE_CXX_FLAGS="-m64 -fPIC" -DZLIB_LIBRARY=$PWD/libgit2/zlib-1.3.1/build64/libz.a -DZLIB_INCLUDE_DIR=$PWD/libgit2/zlib-1.3.1 -DOPENSSL_SSL_LIBRARY=$PWD/libgit2/openssl-1.1.1w/dist64/lib/libssl.a -DOPENSSL_CRYPTO_LIBRARY=$PWD/libgit2/openssl-1.1.1w/dist64/lib/libcrypto.a -DOPENSSL_INCLUDE_DIR=$PWD/libgit2/openssl-1.1.1w/include
                  make -j$(nproc)
                  cd ../..
                  cp libgit2_src/build64/libgit2.a source/thirdparty/libgit2/libs/x64
                  premake5 gmake2 --tag_version="${{ github.ref_name }}"
                  cd projects/x64/linux/gmake2
                  make config=releasewithsymbols_x86_64 CXX="g++-10 -m64" CXXFLAGS="-std=c++17 -m64"
            - name: Release
              uses: svenstaro/upload-release-action@2.7.0
              with:
                  repo_name: A5R13L/gmsv_git
                  repo_token: ${{ secrets.RELEASE_ACCESS_TOKEN }}
                  body: "gmsv_git"
                  file: projects/x64/linux/gmake2/x86_64/ReleaseWithSymbols/gmsv_git_64_linux64.dll
                  asset_name: gmsv_git_linux64.dll
    build_linux32:
        runs-on: self-hosted
        defaults:
            run:
                shell: sh
        steps:
            - uses: actions/checkout@v3
              with:
                  submodules: "recursive"
            - name: Build 32-bit
              working-directory: ${{ github.workspace }}
              run: |
                  wget https://zlib.net/zlib-1.3.1.tar.gz
                  tar xf zlib-1.3.1.tar.gz
                  cd zlib-1.3.1
                  mkdir build32 && cd build32
                  CFLAGS="-m32" ../configure --static
                  make -j$(nproc)
                  cd ../..
                  wget https://www.openssl.org/source/openssl-1.1.1w.tar.gz
                  tar xf openssl-1.1.1w.tar.gz
                  cd openssl-1.1.1w
                  ./Configure linux-generic32 no-shared no-tests no-threads --prefix=$PWD/dist32 CFLAGS="-m32" LDFLAGS="-m32"
                  make -j$(nproc)
                  make install_sw
                  cd ..
                  mkdir -p source/thirdparty/libgit2/libs/x32
                  cp openssl-1.1.1w/dist32/lib/lib*.a source/thirdparty/libgit2/libs/x32
                  cp zlib-1.3.1/build32/libz.a source/thirdparty/libgit2/libs/x32
                  git clone --branch v1.8.0 https://github.com/libgit2/libgit2.git libgit2_src
                  cd libgit2_src
                  mkdir build32 && cd build32
                  cmake .. -DBUILD_SHARED_LIBS=OFF -DBUILD_TESTS=OFF -DBUILD_CLAR=OFF -DBUILD_CLI=OFF -DCMAKE_C_FLAGS="-m32 -fPIC" -DCMAKE_CXX_FLAGS="-m32 -fPIC" -DZLIB_LIBRARY=$PWD/libgit2/zlib-1.3.1/build32/libz.a -DZLIB_INCLUDE_DIR=$PWD/libgit2/zlib-1.3.1 -DOPENSSL_SSL_LIBRARY=$PWD/libgit2/openssl-1.1.1w/dist32/lib/libssl.a -DOPENSSL_CRYPTO_LIBRARY=$PWD/libgit2/openssl-1.1.1w/dist32/lib/libcrypto.a -DOPENSSL_INCLUDE_DIR=$PWD/libgit2/openssl-1.1.1w/include
                  make -j$(nproc)
                  cd ../..
                  cp libgit2_src/build32/libgit2.a source/thirdparty/libgit2/libs/x32
                  premake5 gmake2 --tag_version="${{ github.ref_name }}"
                  cd projects/x32/linux/gmake2
                  make config=releasewithsymbols_x86 CXX="g++-10 -m32" CXXFLAGS="-std=c++17 -m32"
            - name: Release
              uses: svenstaro/upload-release-action@2.7.0
              with:
                  repo_name: A5R13L/gmsv_git
                  repo_token: ${{ secrets.RELEASE_ACCESS_TOKEN }}
                  body: "gmsv_git"
                  file: projects/x32/linux/gmake2/x86/ReleaseWithSymbols/gmsv_git_32_linux.dll
                  asset_name: gmsv_git_linux.dll
