name: build_linux32

on:
    push:
        tags:
            - "v*.*.*"
    workflow_dispatch:

jobs:
    build_linux32:
        runs-on: self-hosted
        defaults:
            run:
                shell: sh
        steps:
            - uses: actions/checkout@v3
              with:
                  submodules: "recursive"
            - name: Build 32-bit
              working-directory: ${{ github.workspace }}
              run: |
                  wget https://zlib.net/zlib-1.3.1.tar.gz
                  tar xf zlib-1.3.1.tar.gz
                  cd zlib-1.3.1
                  mkdir build32 && cd build32
                  CFLAGS="-m32 -fPIC" ../configure --static
                  make -j$(nproc)
                  cd ../..
                  wget https://www.openssl.org/source/openssl-1.1.1w.tar.gz
                  tar xf openssl-1.1.1w.tar.gz
                  cd openssl-1.1.1w
                  ./Configure linux-generic32 no-shared no-tests no-threads --prefix=$PWD/dist32 CFLAGS="-m32 -fPIC" LDFLAGS="-m32 -fPIC"
                  make -j$(nproc)
                  make install_sw
                  cd ..
                  mkdir -p source/thirdparty/libgit2/libs/x32
                  cp openssl-1.1.1w/dist32/lib/lib*.a source/thirdparty/libgit2/libs/x32
                  cp zlib-1.3.1/build32/libz.a source/thirdparty/libgit2/libs/x32
                  git clone --branch v1.8.0 https://github.com/libgit2/libgit2.git libgit2_src
                  cd libgit2_src
                  mkdir build32 && cd build32
                  cmake .. -DBUILD_SHARED_LIBS=OFF -DBUILD_TESTS=OFF -DBUILD_CLAR=OFF -DBUILD_CLI=OFF -DCMAKE_C_FLAGS="-m32 -fPIC" -DCMAKE_CXX_FLAGS="-m32 -fPIC" -DZLIB_LIBRARY=$PWD/libgit2/zlib-1.3.1/build32/libz.a -DZLIB_INCLUDE_DIR=$PWD/libgit2/zlib-1.3.1 -DOPENSSL_SSL_LIBRARY=$PWD/libgit2/openssl-1.1.1w/dist32/lib/libssl.a -DOPENSSL_CRYPTO_LIBRARY=$PWD/libgit2/openssl-1.1.1w/dist32/lib/libcrypto.a -DOPENSSL_INCLUDE_DIR=$PWD/libgit2/openssl-1.1.1w/include
                  make -j$(nproc)
                  cd ../..
                  cp libgit2_src/build32/libgit2.a source/thirdparty/libgit2/libs/x32
                  premake5 gmake2 --tag_version="${{ github.ref_name }}"
                  cd projects/x32/linux/gmake2
                  make config=releasewithsymbols_x86 CXX="g++-10 -m32 -fPIC" CXXFLAGS="-std=c++17 -m32 -fPIC"
            - name: Release
              uses: svenstaro/upload-release-action@2.7.0
              with:
                  repo_name: A5R13L/gmsv_git
                  repo_token: ${{ secrets.RELEASE_ACCESS_TOKEN }}
                  body: "gmsv_git"
                  file: projects/x32/linux/gmake2/x86/ReleaseWithSymbols/gmsv_git_32_linux.dll
                  asset_name: gmsv_git_linux.dll
    build_linux64:
        runs-on: self-hosted
        defaults:
            run:
                shell: sh
        steps:
            - uses: actions/checkout@v3
              with:
                submodules: "recursive"
            - name: Build 64-bit
              working-directory: ${{ github.workspace }}
              run: |
                wget https://zlib.net/zlib-1.3.1.tar.gz
                tar xf zlib-1.3.1.tar.gz
                cd zlib-1.3.1
                mkdir build64 && cd build64
                CFLAGS="-m64 -fPIC" ../configure --static
                make -j$(nproc)
                cd ../..
                wget https://www.openssl.org/source/openssl-1.1.1w.tar.gz
                tar xf openssl-1.1.1w.tar.gz
                cd openssl-1.1.1w
                ./Configure linux-generic64 no-shared no-tests no-threads --prefix=$PWD/dist64 CFLAGS="-m64 -fPIC" LDFLAGS="-m64 -fPIC"
                make -j$(nproc)
                make install_sw
                cd ..
                mkdir -p source/thirdparty/libgit2/libs/x64
                cp openssl-1.1.1w/dist64/lib/lib*.a source/thirdparty/libgit2/libs/x64
                cp zlib-1.3.1/build64/libz.a source/thirdparty/libgit2/libs/x64
                git clone --branch v1.8.0 https://github.com/libgit2/libgit2.git libgit2_src
                cd libgit2_src
                mkdir build64 && cd build64
                cmake .. -DBUILD_SHARED_LIBS=OFF -DBUILD_TESTS=OFF -DBUILD_CLAR=OFF -DBUILD_CLI=OFF -DCMAKE_C_FLAGS="-m64 -fPIC" -DCMAKE_CXX_FLAGS="-m64 -fPIC" -DZLIB_LIBRARY=$PWD/libgit2/zlib-1.3.1/build64/libz.a -DZLIB_INCLUDE_DIR=$PWD/libgit2/zlib-1.3.1 -DOPENSSL_SSL_LIBRARY=$PWD/libgit2/openssl-1.1.1w/dist64/lib/libssl.a -DOPENSSL_CRYPTO_LIBRARY=$PWD/libgit2/openssl-1.1.1w/dist64/lib/libcrypto.a -DOPENSSL_INCLUDE_DIR=$PWD/libgit2/openssl-1.1.1w/include
                make -j$(nproc)
                cd ../..
                cp libgit2_src/build64/libgit2.a source/thirdparty/libgit2/libs/x64
                premake5 gmake2 --tag_version="${{ github.ref_name }}"
                cd projects/x64/linux/gmake2
                make config=releasewithsymbols_x86_64 CXX="g++-10 -m64 -fPIC" CXXFLAGS="-std=c++17 -m64 -fPIC"
            - name: Release
              uses: svenstaro/upload-release-action@2.7.0
              with:
                repo_name: A5R13L/gmsv_git
                repo_token: ${{ secrets.RELEASE_ACCESS_TOKEN }}
                body: "gmsv_git"
                file: projects/x64/linux/gmake2/x86_64/ReleaseWithSymbols/gmsv_git_64_linux64.dll
                asset_name: gmsv_git_linux64.dll
    build_windows32:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v4
              with:
                submodules: "recursive"
            - name: Install msbuild
              uses: microsoft/setup-msbuild@v2
            - name: Build 64-bit
              working-directory: ${{ github.workspace }}
              run: |
                Invoke-WebRequest -Uri 'https://github.com/premake/premake-core/releases/download/v5.0.0-beta2/premake-5.0.0-beta2-windows.zip' -OutFile premake5.zip
                Expand-Archive premake5.zip -DestinationPath premake5
                premake5/premake5.exe vs2022
                git clone https://github.com/microsoft/vcpkg.git
                cd vcpkg
                .\bootstrap-vcpkg.bat
                .\vcpkg.exe install libgit2:x86-windows-static
                .\vcpkg.exe integrate install
                cd ..
                $Env:LINK='crypt32.lib bcrypt.lib ws2_32.lib'
                cd projects/x32/windows/vs2022
                msbuild git_32.sln /p:Configuration=releasewithsymbols /p:VcpkgTriplet=x86-windows-static
            - name: Release
              uses: svenstaro/upload-release-action@2.7.0
              with:
                repo_name: A5R13L/gmsv_git
                repo_token: ${{ secrets.RELEASE_ACCESS_TOKEN }}
                body: "gmsv_git"
                file: projects/x32/windows/vs2022/x32/ReleaseWithSymbols/gmsv_git_32_win32.dll
                asset_name: gmsv_git_win32.dll
    build_windows64:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v4
              with:
                submodules: "recursive"
            - name: Install msbuild
              uses: microsoft/setup-msbuild@v2
            - name: Build 64-bit
              working-directory: ${{ github.workspace }}
              run: |
                Invoke-WebRequest -Uri 'https://github.com/premake/premake-core/releases/download/v5.0.0-beta2/premake-5.0.0-beta2-windows.zip' -OutFile premake5.zip
                Expand-Archive premake5.zip -DestinationPath premake5
                premake5/premake5.exe vs2022
                git clone https://github.com/microsoft/vcpkg.git
                cd vcpkg
                .\bootstrap-vcpkg.bat
                .\vcpkg.exe install libgit2:x64-windows-static
                .\vcpkg.exe integrate install
                cd ..
                $Env:LINK='crypt32.lib bcrypt.lib ws2_32.lib'
                cd projects/x64/windows/vs2022
                msbuild git_64.sln /p:Configuration=releasewithsymbols /p:Platform=x64 /p:VcpkgTriplet=x64-windows-static
            - name: Release
              uses: svenstaro/upload-release-action@2.7.0
              with:
                repo_name: A5R13L/gmsv_git
                repo_token: ${{ secrets.RELEASE_ACCESS_TOKEN }}
                body: "gmsv_git"
                file: projects/x64/windows/vs2022/x86_64/ReleaseWithSymbols/gmsv_git_64_win64.dll
                asset_name: gmsv_git_win64.dll